<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<div ng-init="person={name:'zfpx1',age:71,sex:2}">
    <div ng-repeat="(key,val) in person">
        {{key}}：{{val}} :{{$index}}
    </div>
</div>-->
<!--<div ng-init="phones=[{name:'iphone',price:40,type:['白色','金色','玫瑰金']},{name:'htc',price:20,type:['白色']},{name:'xiaomi',price:5,type:['黑色']}]">-->
    <!--<div ng-repeat="p in phones" ng-init="index = $index">-->
    <!--&lt;!&ndash;{{p.name}}{{p.price}}{{}}&ndash;&gt;-->
    <!--<div ng-repeat="pp in p.type">-->
        <!--{{index}}{{$index}}{{pp}}-->
        <!--&lt;!&ndash;在子元素中使用父元素中的索引&ndash;&gt;-->
    <!--</div>-->
<!--</div>
</div>
-->
<!--<div ng-init="phones=[{name:'iphone',price:40,type:['白色','金色','玫瑰金']},{name:'htc',price:20,type:['白色']},{name:'xiaomi',price:5,type:['黑色']}]">-->
    <!--<div ng-repeat="(index,p) in phones" >-->
        <!--&lt;!&ndash;{{p.name}}{{p.price}}{{}}&ndash;&gt;-->
        <!--<div ng-repeat="pp in p.type">-->
            <!--{{index}}{{$index}}{{pp}} <br>-->
            <!--{{$even}}:{{$odd}}:{{$first}}:{{$last}}-->
            <!--&lt;!&ndash;在子元素中使用父元素中的索引&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!--遍历数组有相同数据时无法遍历 遍历规则根据内容遍历-->
<div ng-init="phones=['苹果','苹果','苹果']">
    <div ng-repeat="p in phones track by $index" >
        {{p}}
    </div>
</div>
<!--对象地址不相等-->
<div ng-init="phones=[{name:'苹果'},{name:'苹果'},{name:'苹果'}]">
    <div ng-repeat="p in phones" >
        {{p.name}}
    </div>
</div>
<!--track by $index 通过索引去遍历-->
<script src="angular.js"></script>
<script>
    //ng-repeat代表遍历数据
    //(key,val)取出对象中的键，值 ,$index代表当前索引
</script>
</body>
</html>