<!DOCTYPE html>
<html lang="en" ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body>
<div class="form-group col-xs-4 col-xs-offset-4" ng-controller="ctrl">
    <input type="text" class="form-control" ng-model="a">
    <select class="form-control" ng-model="select">
        <option value="+">+</option>
    </select>
    <input type="text" class="form-control" ng-model="b">
    <button class="btn-primary btn" ng-click="method()">=</button>
    {{total}}
</div>
<script src="angular.js"></script>
<script>
    var app = angular.module('appModule',[]);
    app.config(function (myProvider) {//myProvider当前服务的实例
        myProvider.currency = '法郎'
    });
    app.provider('my', function () {
        //只要我们用provider定义会默认调用$get方法
        this.currency = '$';
        this.$get = function () {
            //var that = this;
            return {
                /*'+': function (a,b) {
                    return that.currency+(a+b);
                }*/
                //箭头函数里是没有this指向的，会找他的上级
                '+':(a,b)=>this.currency+(a+b)
            }
        }
    });
    app.controller('ctrl', function ($scope,$timeout,my) {
        //调用服务上的方法
        $scope.method = function () {
           $scope.total =  my['+']($scope.a,$scope.b);
        }
    })
    /*function my(){
        this.a = 100;
        this.$get = function () {
            
        }
    }
    var m = new my();
    m.a = 200;*/
</script>
</body>
</html>